{% extends "base.html" %}
{% block title %} 
Archived Reminders
{% endblock %}
{% block body %}
<a href="/reminder/{{pet_id}}/new" class="adminbutton">&#8592; Back to Reminders</a>
<div class="wrapper style1">
	<div class="container">
<h2>Archived Reminders for {{pet.name}}</h2>
{% if allreminders %}
<div class="archive-table">
<table class="table">
  	<thead>
    	<tr>
      	<th scope="col">No.</th>
      	<th scope="col">Title</th>
      	<th scope="col">Date</th>
		<th scope="col">Time</th>
      	<th scope="col">Notes</th>
		<th scope="col">Actions</th>
    	</tr>
  	</thead>
  	<tbody>
		{% for i in allreminders %}
    	<tr style="color: grey;">
      	<td>{{loop.index}}</td>
      	<td>{{i.title}}</td>
		<td>{{i.date}}</td>
      	<td>{{i.time}}</td>
		<td>{{i.notes}}</td>
		<td><a href="/unarchive_reminder/{{i.list_id}}" class="admin-btn">Recover</a></td>
		<td><a href="/archive/delete/{{i.pet_id}}/{{i.list_id}}" onclick="return confirm('Permanently delete this reminder?')" class="admin-btn danger" 
													>Delete</a></td>
		{% endfor %}
  	</tbody>
	</table>
	</div>
    {% else %}
    <p>No archived reminders for {{pet.name}} yet.</p>
    {% endif %}
	</div>
</div>
{% endblock %}