{% extends "base.html" %}
{% block title %}Pet Profile{% endblock %}
{% block body %}
<a href="/admin" class="adminbutton">&#8592; Back to Dashboard</a>
<div class="wrapper style1">
    <div class="petcontainer">
        <h1>My Pets</h1>
        <div class="petprofile scroll-animate">
            <div class="pets-row">
            {% for i in allpets %}
            <div class="pets">
                <a href="{{url_for('reminder', pet_id=i.pet_id, list_id='new')}}"> <!-- the i.pet_id is the specific pet's ID. -->
                    <img src="{{i.image if i.image else url_for('static', filename='default.jpg')}}" alt="{{i.name}}"> <!-- #the img src means if i.image is empty, it falls back to default.jpg  #alt shows the pet name if the image fails to load.  -->
                    <span class="pet-hint">Click to view reminders</span>
                </a>
                <p>{{i.name}}</p>
                <a href="{{url_for('deletepet',pet_id=i.pet_id)}}" onclick="return confirm('Delete {{i.name}}?')">
                    <button class="pet-btn del">Delete</button>
                 </a>
                 <a href="{{url_for('editpetprofile',pet_id=i.pet_id)}}"><button class="pet-btn">Edit</button></a>
            </div>
            {% else %}
                <p>No pets added yet.</p>
            {% endfor %}
            </div>
            <form method="POST" enctype="multipart/form-data" action="{{url_for('petprofile',pet_id='new')}}">
                <label>Pet Name</label>
                <input type="text" name="name" placeholder="Pet Name" value="{{ pet.name if pet else '' }}">
                <input type="file" name="image" accept="image/*">
                <button type="submit" class="pet-btn primary">Add Pet</button>
            </form>
        </div> 
    </div>
</div>
{% endblock %}