{% extends "base.html" %}
{% block title %} 
Reminders
{% endblock %}
{% block body %}
			<!-- Main -->
			 <a href="/admin" class="adminbutton">&#8592; Back to Dashboard</a>
			 <br>
			 <a href="{{url_for('petprofile', pet_id='new')}}" class="adminbutton">&#8592; Back to Pet Profile</a>
				<div class="wrapper style1">
					<div class="container">
								<header>
									<h1>Reminders</h1>
								</header>
								
							<div class="reminders scroll-animate" id="sidebar">
									<div id="left">
									<section class="sides">
										<h3>Add a Reminder</h3>
										<form method="POST" action="{{url_for('reminder',pet_id=pet_id,list_id=list_id)}}">
											<label>Reminder Title</label>
											<input type="text" id="text" name="title" placeholder="e.g. Feed pet"><br>
											<div class="date">
												<label>Date</label>
												<input type="date" id="date" name="date" required><br>
											</div>
											<div class="time">
												<label for="time">Time</label>
												<input type="time" id="time" name="time" required><br>
											</div>
											<label for="notes">Notes</label>
											<textarea id="note" name="notes" rows="4" placeholder="Optional details..."></textarea><br>
											<button type="submit">Save Reminder</button>
										</form>
										</section>
									</div>
									
								
									<div id="right">
										<section class="sides">
										<table class="table">
											<a id="viewarchived" href="/archive/{{pet_id}}">View Archived Reminders</a>
  											<thead>
    											<tr>
      											<th scope="col">No.</th>
      											<th scope="col">Title</th>
      											<th scope="col">Date</th>
												<th scope="col">Time</th>
      											<th scope="col">Notes</th>
												<th scope="col">Actions</th>
    											</tr>
  											</thead>
  											<tbody>
												{% for i in allreminders %}
    											<tr style="{% if i.is_past %} color: grey;{% endif %}">
      											<td>{{loop.index}}</td>
      											<td>{{i.title}}</td>
												<td>{{i.date}}</td>
      											<td>{{i.time}}</td>
												<td>{{i.notes}}</td>
												<td><a href="/editreminder/{{i.pet_id}}/{{i.list_id}}" class="reminder-btn">Edit</a></td>
												<td><a href="/reminder/delete/{{i.pet_id}}/{{i.list_id}}" onclick="return confirm('Permanently delete this reminder?')" class="reminder-btn del" 
													>Delete</a></td>
												<td><a href="/archive_reminder/{{i.list_id}}" class="reminder-btn archive">Archive</a></td>
    											</tr>
												{% endfor %}
  											</tbody>
											</table>
										</section>
									</div>
								</div>
						<br>
						<br>

					</div>
				</div>
{% endblock %}