{% extends "base.html" %}
{% block title %} 
Reminders
{% endblock %}
{% block body %}
			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						
								<header>
									<h1>Reminders</h1>
								</header>
								
							<div class="reminders" id="sidebar">
								
									<div id="left">
									<section class="sides">
										<form method="POST" action="/reminder/{{new}}">
											<label>Reminder Title</label>
											<input type="text" id="text" name="title" placeholder="e.g. Feed pet"><br>
											<div class="date">
												<label>Dates</label>
												<input type="date" id="date" name="date" required><br>
											</div>
											<div class="time">
												<label for="time">Time</label>
												<input type="time" id="time" name="time" required><br>
											</div>
											<label for="notes">Notes</label>
											<textarea id="note" name="notes" rows="4" placeholder="Optional details..."></textarea><br>
											<button type="submit">Save Reminder</button>
										</form>
										</section>
									</div>
								
								
									<div id="right">
										<section class="sides">
										<table class="table">
  											<thead>
    											<tr>
      											<th scope="col">No.</th>
      											<th scope="col">Title</th>
      											<th scope="col">Date</th>
      											<th scope="col">Notes</th>
												<th scope="col">Action</th>
    											</tr>
  											</thead>
  											<tbody>
												{% for i in allreminders %}
    											<tr>
      											<td>{{i.list_id}}</td>
      											<td>{{i.title}}</td>
												<td>{{i.date}}</td>
      											<td>{{i.time}}</td>
												<td>{{i.notes}}</td>
												<td><a href="/reminder/{{i.list_id}}" class="button">Edit</a></td>
    											</tr>
												{% endfor %}
  											</tbody>
											</table>
										</section>
									</div>
								</div>
							<hr>
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Gravida aliquam penatibus</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Sed quis rhoncus placerat</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Magna laoreet et aliquam</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
						</div>

				</div>
{% endblock %}