{% extends "base.html" %}
{% block title %} Blogs{% endblock %}
{% block body %}

			<!-- Main -->
			 	<br>
			 	<h1 id="blog">Blogs</h1>
				<div class="wrapper style1">
					<div class="container">
					{% for i in slice %}
						<article class="post">				
								<header>
									<div class="title">
										<h2><a href="/blogdetail/{{i.slug}}">{{i.title}}</a></h2>
										<p>{{i.location}}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{i.date}}</time>
										<a href="#" class="author"><span class="name">{{i.author}}</span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7VxDe4wzr6eLzRrpRXsqUl1pgSst3Q1XytA&s" alt="" /></a>
									</div>
								</header>
								<span class="image featured"><img src="{{i.image}}" alt="" /></span>
								<p>{{i.subtitle}}</p>
								<footer>
									<ul class="stats">
										<li><a href="/blogdetail/{{i.slug}}" class="button large">Continue Reading</a></li>
									</ul>
								</footer>
							</article>
					{% endfor %}
							<!-- Pagination -->
							<ul class="actions-pagination">
								<a href="{{prev}}"><i class="fa fa-arrow-left"></i></a>
								<a href="{{next}}"><i class="fa fa-arrow-right"></i></a>
							</ul>
						</div>
					</div>
{% endblock %}