{% extends "base.html" %}
{% block title %} Blogs{% endblock %}
{% block body %}

			<!-- Main -->
			 	<br>
			 	<h1 id="blog">Blogs</h1>
				<div class="wrapper style1">
					<div class="container">
					{% for i in slice %}
						<article class="post">				
								<header>
									<div class="title">
										<h2><a href="/blogdetail/{{i.slug}}">{{i.title}}</a></h2>
										<p>{{i.location}}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{i.date}}</time>
										<span class="author"><span class="name">{{i.author}}</span>
											{% if i.author==param["adminusername"] %}
												<img src="https://i.pinimg.com/736x/46/af/b0/46afb0dfc7d37d8c3b82d143611c5299.jpg" alt="" />
											{% else %}
												{% set user=Users.query.filter_by(username=i.author).first() %}
													<img src="{{ user.profile_pic if user and user.profile_pic else url_for('static', filename='images/default.png') }}" alt="" /></span>
												{% endif %}
									</div>
								</header>
								<span class="image featured"><img src="{{i.image}}" alt="" /></span>
								<p>{{i.subtitle}}</p>
								<footer>
									<ul class="stats">
										<li><a href="/blogdetail/{{i.slug}}" class="admin-btn primary">Continue Reading</a></li>
									</ul>
								</footer>
							</article>
					{% endfor %}
							<!-- Pagination -->
							<div class="actions-pagination">
								<a href="{{prev}}"><i class="fa fa-arrow-left"></i></a>
								<a href="{{next}}"><i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
{% endblock %}